{% extends "competition.html" %}

{% load i18n %}
{% load webdesign %}

{% comment %}
{% extends "email_base.html" %}
{% block head_title %}Email confirmed{% endblock %}

{% block body_content %}
{% if email_address %}
    <p>You have confirmed that {{ email_address.email }} is an email address for user '{{ email_address.user }}'.</p>
{% else %}
    <p>Invalid confirmation key.</p>
{% endif %}
<p>Go to <a href="{% url idea_main %}">homepage</a>.</p>
{% endblock %}
{% endcomment %}


{% block text_content %}

    {% if email_address %}
        <h2>{% trans "Sähköpostiosoite on rekisteröity." %} </h2>
        <br />
        <p>{% trans "Olet vahvistanut sähköpostiosoitteen"%} <b>{{ email_address.email }}</b> {% trans "käyttäjänimelle"%} <b>{{ email_address.user }}</b>.</p>
    {% else %}
        <h2>{% trans "Sähköpostiosoitetta ei voitu rekisteröidä." %} </h2>
        <br />
        <p>{% trans "Linkki on väärä tai vanhentunut."%}</p>
    {% endif %}
{% endblock text_content %}   